sudo: required
notifications:
  email: false
services:
- docker
language: python
python:
- 3.6
git:
  depth: false
script:
- make build
- make push
deploy:
- provider: script
  skip_cleanup: true
  script: bash .travis-deploy.sh
  on:
    branch: master
env:
  global:
  - secure: ou8ScUeqnj6/Senwyq2LiNoYTWy6HF6wXJBL62q7JNMekCnE1K/NfyfSjJE8Qmt5gXrKog6hEP0kePT2vmpMYPxlPJE6MiJgD8aaTcKuBxQr6XWYOuW/0IrGHZrE7+ANtyUtEF7fL1doE+3bowd2nZ33SR8eyejitUfpSeBt8semqvuB196zWvkBPmz6kHUb6GVv82qOO1XMLjNBoYyErqm5EBaGnOUxdww/wql7RJ5TV7PA/7zbOTO0NrP6mVxAQL0uWbROIh8Uk4eYaI+x3I6TmhTsuP+rTgOJdF1qDaUMM7tmxkDXaHvSZNDHdytU/w/cOm+xBcAxsvE63gCJ7s6WFVEbzHT5NNge9etHbwOSQ+Ij7NUHMxWDh4I0Kg5A3oq6BA0VS4Y9SJ0BynQmgEosRG9QtCMCkn6a4ivOdCkW7blF+ydFiOKn8sO3JwjVOqb8Uuz36CCBXZ8fBbFqtQyXTC9mrTONzjEDZRrRkObWShY62i1x8tIZqjGjjyaskDTz+s2aT8Fjj6c3MLoq+Am+KtnyzvaDb/ODjsh2lEmvroqk1DPz1nI/KD6sPOKRQAXvEt9LV193fwFQi3O/vzsRwr8UnFCgDAIOgLldV0rrNFtsvQakVUtj8quUifj6rG3zWWcLsgQ/1fsTx4yyhbCOW1MzNTxY41eAbpFPH6U=
  - secure: GmWkoi69qo7Fk39ai2+v0e+Wmh0d9QuKde6x/W3CPtoqusiFwS9hHf3Lvts1VdDktwf1P79DcoTy+uw/V4VoFk/1Q42TWsqUVtFJb6Uu08jrdJb04FJsF+KRCeSbPJhHYmr5tN0HczUZgqFOtj3qzjRmDvY5D2h29CMXfQ60aEfg3JKySS0hhRAbOxwiRoiLN6kLYzEXUhIFhdYWN020q8GSS59OAlSxIjekfwDwqGpOtwzSf+gWT3YG1E+rJpX7d0sMSeNT/bduR8I0odumbvUGuaiiPS1kIJfvxGhMN36ft8Z1XuLOSNYsAfig/p3jofAZrTQvWpoCAPoqY7jNs0fJ+0+dl7SXy/AiCBbhzRPxYTgdkwvSuYgpbScUxVKwratePuPJ6Q3ZSTDEjvJzTeZ5IXV/vd2fUV3+mNG/PHEmqbwWwRMDlC7wpBln7TjwOXM0h5jREPO+48CW/tShC/ZZVu8qQwWqUWdDUowj2MBbOUp1s9tN7hCaLdiR6wjffLINDV7hFA/R9z1q1Bg0MNzOp8rVN+IpJIUnQ/17Vuz80TxZ5by+IBVnrrteIqMoj3fnqZ3xkXUBc6TR+sV+lrJkOVRG5Za46smHHjIIv54JyBlcL/eTJHfMEM3B8Jdu2RjSkMaJ0iOSwB0fKeKqQBHy5oxvkVZpNASD/wzuzcM=
